@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 245, 245, 245;
  --background-end-rgb: 245, 245, 245;
}

* {
  font-family: "Inter", sans-serif;
  letter-spacing: 0.025em;
  ::selection {
    color: white;
    background: rgb(176, 128, 180);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
